# Systemd resource file
[Unit]
Description=Marine instrument application
DefaultDependencies=no
After=labwc-kiosk.service
Requires=labwc-kiosk.service

[Service]
Type=simple
User=NOTYET
PAMName=login
EnvironmentFile=/etc/default/sdlSpeedometer
Environment=XDG_RUNTIME_DIR=/run/user/%U
ExecStart=/usr/local/bin/sdlSpeedometer $ARGS
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
