# Systemd resource file
[Unit]
DefaultDependencies=no
Description=Marine instrument application
After=local-fs.target

[Service]
Type=simple
EnvironmentFile=/etc/default/sdlSpeedometer
ExecStart=/usr/local/bin/sdlSpeedometer -s -n $SERVER -p $PORT
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
User=erland

[Install]
WantedBy=sysinit.target
