[Unit]
Description=Splash screen
DefaultDependencies=no
Requires=xorg.service
After=xorg.service

[Service]
# After that  X has become ready for service at DISPLAY=:0.0
Environment="DISPLAY=:0.0"
ExecStart=/usr/bin/feh -bg-fill /usr/local/share/images/splash.png
RemainAfterExit=no
Restart=on-failure
RestartSec=1s
User=root

[Install]
WantedBy=sysinit.target

