[Unit]
Description=Splash screen
DefaultDependencies=no
Requires=xorg.service
After=xorg.service

[Service]
ExecStartPre=/bin/sleep 3
Environment="DISPLAY=:0.0"
ExecStart=/usr/bin/feh -bg-fill /usr/local/share/images/splash.png
User=root

[Install]
WantedBy=sysinit.target

