[Unit]
Description=Weston kiosk service
After=systemd-user-sessions.service network-online.target

[Service]
User=NOTYET
PAMName=login
EnvironmentFile=/etc/default/sdlSpeedometer
Environment=XDG_RUNTIME_DIR=/run/user/%U
ExecStart=/usr/bin/weston -B drm-backend.so,vnc-backend.so --port=${VNC_PORT} --vnc-tls-cert=/home/${USER}/certs/weston/tls.crt --vnc-tls-key=/home/${USER}/certs/weston/tls.key
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
