[Unit]
Description=Xorg Service
DefaultDependencies=no
After=networking.service

[Service]
Type=simple
EnvironmentFile=/etc/default/xorg
ExecStart=/usr/bin/Xorg -nolisten tcp vt7 -nocursor -novtswitch  -quiet
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sysinit.target

