[Unit]
Description=Xorg service
After=systemd-user-sessions.service dev-dri-card0.device dev-dri-renderD128.device
Wants=dev-dri-card0.device dev-dri-renderD128.device

# replaces plymouth-quit since lightdm quits plymouth on its own
Conflicts=plymouth-quit.service
After=plymouth-quit.service

# for any reason, make sure plymouth still stops
OnFailure=plymouth-quit.service

[Service]
ExecStart=/usr/lib/xorg/Xorg :0 -seat seat0 -nolisten tcp vt7 -novtswitch -nocursor
Restart=always

[Install]
WantedBy=sysinit.target

